.porty-dashboard-header{
    -fx-font-size: 20px;
    -fx-text-fill: -porty-on-background;
    -fx-font-family: "Inter";
}

.porty-dashboard-button{
    -fx-font-size: 14px;
    -fx-text-fill: -porty-on-secondary;
    -fx-background-color: -porty-secondary;
    -fx-font-family: "Inter";
    -fx-padding: 8 16;
}

.porty-dashboard-label{
    -fx-font-size: 16px;
    -fx-text-fill: -porty-on-background;
    -fx-font-family: "Inter";
}

.porty-dashboard-simple-control{
    -fx-spacing: 16px;
}

.porty-dashboard-content{
    -fx-spacing: 52px;
}

.porty-dashboard-checkbox{
    -fx-text-fill: -porty-on-background;
    -fx-font-family: "Inter";
    -fx-font-size: 18px;
}

.porty-dashboard-checkbox .box{
    -fx-background-color: -porty-background;
    -fx-border-color: -porty-secondary-border;
    -fx-border-radius: 4;
    -fx-border-width: 2;

    -fx-pref-width: 18px;
    -fx-pref-height: 18px;

    -fx-min-width: 18px;
    -fx-min-height: 18px;

    -fx-max-width: 18px;
    -fx-max-height: 18px;
}

.porty-dashboard-checkbox:selected .box {
    -fx-background-color: -porty-secondary;
    -fx-border-color: -porty-secondary;
}

.porty-dashboard-checkbox:selected .mark {
    -fx-background-color: -porty-on-secondary;
    -fx-scale-x: 0.6;
    -fx-scale-y: 0.6;
}

.porty-dashboard-menu-checkbox{
    -fx-text-fill: -porty-on-container;
    -fx-font-family: "Inter";
    -fx-font-size: 16px;
}

.porty-dashboard-menu-checkbox .box{
    -fx-background-color: transparent;
    -fx-border-color: -porty-secondary-border;
    -fx-border-radius: 4;
    -fx-border-width: 2;

    -fx-pref-width: 16px;
    -fx-pref-height: 16px;

    -fx-min-width: 16px;
    -fx-min-height: 16px;

    -fx-max-width: 16px;
    -fx-max-height: 16px;
}

.porty-dashboard-menu-checkbox:selected .box {
    -fx-background-color: -porty-primary;
    -fx-border-color: -porty-primary;
}

.porty-dashboard-menu-checkbox:selected .mark {
    -fx-background-color: -porty-on-primary;
    -fx-scale-x: 0.6;
    -fx-scale-y: 0.6;
}

.porty-dashboard-advanced-menu{
    -fx-spacing: 8px;
}

.porty-dashboard-progress-indicator {
    -fx-min-width: 200px;
    -fx-min-height: 200px;
    -fx-pref-width: 200px;
    -fx-pref-height: 200px;
    -fx-max-width: 200px;
    -fx-max-height: 200px;
}

.porty-dashboard-progress-indicator .indicator{
    -fx-background-color: -porty-scan-ring;
}

.porty-dashboard-progress-indicator .progress {
    -fx-background-color: -porty-scan-progress;
}

.porty-dashboard-progress-indicator * {
    -fx-background-color: transparent;
}

.porty-dashboard-scan-view{
    -fx-spacing: 40px;
}

.porty-dashboard{
    -fx-spacing: 8px;
    -fx-padding: 16 0 0 0;
}

.porty-dashboard-progress-indicator-hole{
    -fx-fill: -porty-background;
    -fx-translate-y: -8.5;
}

.porty-dashboard-progress-indicator .percentage {
    -fx-opacity: 0;
}

.porty-dashboard-progress-indicator-percentage {
    -fx-text-fill: -porty-on-background;
    -fx-translate-y: -11;
    -fx-font-family: "Inter";
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}

.porty-dashboard-advanced-controls{
    -fx-spacing: 26px;
}

.porty-progress-area{
    -fx-spacing: 28px;
}

.porty-progress-area HBox{
    -fx-spacing: 12px;
    -fx-alignment: center-left;
}

.porty-progress-area Label{
    -fx-font-size: 20px;
    -fx-text-fill: -porty-on-background;
    -fx-font-family: "Inter";
}

.porty-progress-area FontIcon{
    -fx-icon-size: 20px;
    -fx-icon-color: -porty-on-background;
}

.porty-done{
    -fx-icon-color: #74E37B;
}

.porty-progress-area ProgressBar {
    -fx-max-width: infinity;
}

.porty-progress-area ProgressBar .track {
    -fx-background-color: transparent;
}

.porty-progress-area ProgressBar:indeterminate .bar {
    -fx-background-color: -porty-secondary;
}