.root {
    -porty-background: #FFFFFF;
    -porty-background-active: #F7F7F7;
    -porty-border: #E0E0E0;
    -porty-on-background: #000000;
    -porty-primary: #4F378B;
    -porty-on-primary: #FFFFFF;
    -porty-secondary: #365EDD;
    -porty-on-secondary: #FFFFFF;
    -porty-secondary-border: #49454F;
    -porty-secondary-background: #F2F2F7;
    -porty-container: #D9D9D9;
    -porty-on-container: #000000;
    -porty-credits-bar: #FF0000;
    -porty-secondary-container: #F7F7F7;
    -porty-scan-ring: #E6E0E9;
    -porty-scan-progress: #89475E;
    -porty-switch-container: #F7F7F7;
    -porty-switch-active: #FFFFFF;
    -porty-switch-icon: #000000;
    -porty-on-container-inactive: #D2D2D2;
    -porty-grid-odd: #D9D9D9;
    -porty-grid-even: #F7F7F7;
    -porty-file-container: #F3EDF7;
    -porty-file-container-shadow: #C9C4CD;
    -porty-file-container-content: #49454F;
}