.root {
    -porty-background: #141218;
    -porty-background-active: #1D1B20;
    -porty-border: #454545;
    -porty-on-background: #FFFFFF;
    -porty-primary: #4F378B;
    -porty-on-primary: #FFFFFF;
    -porty-secondary: #365EDD;
    -porty-on-secondary: #FFFFFF;
    -porty-secondary-border: #FFFFFF;
    -porty-secondary-background: #625B71;
    -porty-container: #4A4459;
    -porty-on-container: #FFFFFF;
    -porty-credits-bar: #FF00AA;
    -porty-secondary-container: #625B71;
    -porty-scan-ring: #CCC2DC;
    -porty-scan-progress: #4F378B;
    -porty-switch-container: #332D41;
    -porty-switch-active: #4A4459;
    -porty-switch-icon: #FFFFFF;
    -porty-on-container-inactive: #9A9A9A;
    -porty-grid-odd: #625B71;
    -porty-grid-even: #332D41;
}