.porty-dashboard-header{
    -fx-font-size: 20px;
    -fx-text-fill: -porty-on-background;
    -fx-font-family: "Inter";
}

.porty-dashboard-button{
    -fx-font-size: 14px;
    -fx-text-fill: -porty-on-secondary;
    -fx-background-color: -porty-secondary;
    -fx-font-family: "Inter";
    -fx-padding: 8 16;
}

.porty-dashboard-label{
    -fx-font-size: 16px;
    -fx-text-fill: -porty-on-background;
    -fx-font-family: "Inter";
}

.porty-dashboard-simple-control{
    -fx-spacing: 16px;
}

.porty-dashboard-content{
    -fx-spacing: 52px;
}

.porty-dashboard-checkbox{
    -fx-text-fill: -porty-on-background;
    -fx-font-family: "Inter";
    -fx-font-size: 18px;
}

.porty-dashboard-checkbox .box{
    -fx-background-color: -porty-background;
    -fx-border-color: -porty-secondary-border;
    -fx-border-radius: 4;
    -fx-border-width: 2;

    -fx-pref-width: 18px;
    -fx-pref-height: 18px;

    -fx-min-width: 18px;
    -fx-min-height: 18px;

    -fx-max-width: 18px;
    -fx-max-height: 18px;
}

.porty-dashboard-checkbox:selected .box {
    -fx-background-color: -porty-secondary;
    -fx-border-color: -porty-secondary;
}

.porty-dashboard-checkbox:selected .mark {
    -fx-background-color: -porty-on-secondary;
    -fx-scale-x: 0.6;
    -fx-scale-y: 0.6;
}

.porty-dashboard-textarea {
    -fx-control-inner-background: -porty-background;
    -fx-text-fill: -porty-on-background;
    -fx-font-size: 16px;
    -fx-font-family: "Inter";
    -fx-background-color: -porty-background;
    -fx-border-color: transparent;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-padding: 0;
    -fx-wrap-text: true;
}

.porty-dashboard-textarea .content {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.porty-dashboard-textarea .viewport {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.porty-dashboard-menu-checkbox{
    -fx-text-fill: -porty-on-container;
    -fx-font-family: "Inter";
    -fx-font-size: 16px;
}

.porty-dashboard-menu-checkbox .box{
    -fx-background-color: transparent;
    -fx-border-color: -porty-secondary-border;
    -fx-border-radius: 4;
    -fx-border-width: 2;

    -fx-pref-width: 16px;
    -fx-pref-height: 16px;

    -fx-min-width: 16px;
    -fx-min-height: 16px;

    -fx-max-width: 16px;
    -fx-max-height: 16px;
}

.porty-dashboard-menu-checkbox:selected .box {
    -fx-background-color: -porty-primary;
    -fx-border-color: -porty-primary;
}

.porty-dashboard-menu-checkbox:selected .mark {
    -fx-background-color: -porty-on-primary;
    -fx-scale-x: 0.6;
    -fx-scale-y: 0.6;
}

.porty-dashboard-advanced-menu{
    -fx-spacing: 8px;
}

.porty-dashboard-progress-indicator {
    -fx-min-width: 200px;
    -fx-min-height: 200px;
    -fx-pref-width: 200px;
    -fx-pref-height: 200px;
    -fx-max-width: 200px;
    -fx-max-height: 200px;
}

.porty-dashboard-progress-indicator .indicator{
    -fx-background-color: -porty-scan-ring;
}

.porty-dashboard-progress-indicator .progress {
    -fx-background-color: -porty-scan-progress;
}

.porty-dashboard-scan-view{
    -fx-spacing: 40px;
}

.porty-dashboard{
    -fx-spacing: 8px;
    -fx-padding: 16 0 0 0;
}

.porty-switch-icon .thumb{
    -fx-background-color: #4F378B;
}

.porty-switch-icon .thumb-area{
    -fx-background-color: #D0BCFE;
}

.porty-switch-icon:selected .thumb {
    -fx-background-color: white;
}

.porty-switch-icon:selected .thumb-area {
    -fx-background-color: #4F378B;
}