@import "colors.css";

.porty-results-subtitle{
    -fx-font-size: 20px;
    -fx-text-fill: -porty-on-background;
    -fx-font-family: "Inter";
}

.alert-title {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-font-family: "Inter";
}

.alert-text {
    -fx-font-size: 15px;
    -fx-font-family: "Inter";
}

.dialog-pane .button:default,
.dialog-pane .button:default:focused {
    -fx-background-color: -porty-primary;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-fill: white;
}