.porty-results-subtitle{
    -fx-font-size: 15px;
    -fx-text-fill: -porty-on-background;
    -fx-font-family: "Inter";
}

.porty-risk-high {
    -fx-max-width: infinity;
    -fx-background-color: red;
    -fx-background-radius: 14;
}

.porty-risk-low {
    -fx-max-width: infinity;
    -fx-background-color: #74E37B;
    -fx-background-radius: 14;
}

.porty-result-text {
    -fx-font-size: 16px;
}

.porty-results-row-even {
    -fx-background-color: #625B71;
    -fx-text-fill: #FFFFFF;
    -fx-max-width: infinity;
    -fx-padding: 5 0 5 10;
}

.porty-results-row-odd {
    -fx-background-color: #332D41;
    -fx-text-fill: #FFFFFF;
    -fx-max-width: infinity;
    -fx-padding: 5 0 5 10;
}

.porty-result-border {
    -fx-border-color: transparent transparent transparent #FFFFFF;
    -fx-border-width: 0 0 0 1;
}

.porty-results-button-close {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-width: 0;
}

.alert-title {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-font-family: "Inter";
}

.alert-text {
    -fx-font-size: 15px;
    -fx-font-family: "Inter";
}

.dialog-pane .button:default,
.dialog-pane .button:default:focused {
    -fx-background-color: -porty-primary;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-fill: white;
}