@import "colors.css";
@import "dashboard.css";
@import "credits.css";
@import "results.css";

.porty-nav-bar{
    -fx-background-color: -porty-background;
    -fx-padding: 24 8;
    -fx-spacing: 24;
    -fx-border-color: -porty-border;
    -fx-border-width: 0 1 0 0;
}

.porty-nav-button{
    -fx-background-color: -porty-background;
    -fx-font-size: 16px;
    -fx-padding: 8 16;
    -fx-max-width: infinity;
    -fx-spacing: 16px;
    -fx-text-fill: -porty-on-background;
    -fx-alignment: CENTER_LEFT;
    -fx-font-family: "Inter";
}

.porty-nav-button:focused{
    -fx-background-color: -porty-background-active;
}

.porty-nav-title{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 0 16;
    -fx-text-fill: -porty-on-background;
    -fx-font-family: "Inter";
}

.porty-nav-spacer{
    -fx-max-height: infinity;
}

.porty-label{
    -fx-text-fill: -porty-on-background;
    -fx-font-size: 15px;
}

.porty-content-pane{
    -fx-background-color: -porty-background;
    -fx-padding: 24 80;
}

.porty-title{
    -fx-font-size: 34px;
    -fx-font-weight: bold;
    -fx-text-fill: -porty-on-background;
    -fx-font-family: "Inter";
}

.porty-title-large{
    -fx-font-size: 45px;
    -fx-font-weight: bold;
    -fx-text-fill: -porty-on-background;
    -fx-font-family: "Inter";
}

.porty-top-bar{
    -fx-spacing: 16px;
    -fx-alignment: center
}

.porty-top-bar-button{
    -fx-font-size: 16px;
    -fx-background-color: -porty-primary;
    -fx-text-fill: -porty-on-primary;
    -fx-padding: 8 16;
    -fx-min-width: 54;
}

.porty-top-bar-spacer{
    -fx-max-width: infinity;
}

.porty-file-field{
    -fx-background-color: -porty-secondary-background;
    -fx-background-radius: 10;
}

.porty-file-field Label{
    -fx-text-fill: -porty-on-background;
    -fx-font-size: 16px;
}

.porty-titled-pane > .title{
    -fx-background-color: -porty-container;
}

.porty-titled-pane > .title > .text{
    -fx-fill: -porty-on-background;
}

.porty-titled-pane > .content{
    -fx-background-color: -porty-secondary-background;
    -fx-border-color: -porty-secondary-background;
}

.porty-switch-text {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.porty-switch-text-box {
    -fx-background-color: -porty-switch-container;
    -fx-background-radius: 8;
    -fx-padding: 4;
}

.porty-switch-label {
    -fx-padding: 4 12;
    -fx-text-fill: -porty-on-primary;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.porty-switch-text .left{
    -fx-background-color: -porty-container;
    -fx-background-radius: 4;
}

.porty-switch-text:selected .left{
    -fx-background-color: transparent;
}

.porty-switch-text:selected .right {
    -fx-background-color: -porty-container;
    -fx-background-radius: 4;
}
