@import "../colors/colors_dark.css"

.alert-title {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-font-family: "Inter";
}

.alert-text {
    -fx-font-size: 15px;
    -fx-font-family: "Inter";
}

.dialog-pane .button {
    -fx-background-color: -porty-secondary;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-fill: -porty-on-secondary;
}

.dialog-pane .button:default,
.dialog-pane .button:default:focused {
    -fx-background-color: red;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-fill: -porty-on-primary;
}